body{
    color:white;
    font-family: 'Titillium Web', sans-serif;
    margin:0 auto;
}
.section{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom:150px;
    box-sizing: border-box;
}
.Firstsec{
    padding-top:50px;
    background-color:#87509c;
}
.logosection{
   width:100%;
   text-align: center;
}
.logoImage{
    float:left;
    width: 50%;
    height: auto;
    text-align: left; 
}
.FirstsecMenu{
    float:left;
    width: 50%;
    height:auto;
    text-align: right;
}
.clear{
    clear:both;
}
.Firstsec h3{
    margin-top:120px;
}
.MenuNav{
    text-align: center;
    width:100%;
}
.MenuNav ul li {
    list-style-type: none;
    display:inline-block;
    margin-left:45px;
    font-size: 12pt;
}
.MenuNav ul li a{
    text-decoration:none;
    color:white;
    text-transform: uppercase;
}
.MenuNav ul li a.active
,.MenuNav ul li:hover{
    border-bottom:1px solid white;

}
.secondsec{
    background-color:#17c2a4;
}


.buttonLink{
    margin-top:70px;
}

.buttonLink a{
     background-color:#eb7d4b;
     display:inline-block;
    text-decoration: none;
    color:white;
    font-size: 10pt;
    padding: 30px 75px ;
    border-bottom:3px solid #c86a40;
    box-sizing: border-box;
    border-radius:5px;
    transition-duration: 0.3s;
    margin-top:50px;

}
.buttonLink a:hover{
    background-color:#c86a40;
    transition-duration: 0.3s;
}
.secondsec{
    background-color:#17c2a4;
}
.firstP{
    text-align: center;
    padding-top:110px;
}
.h3{
    margin-top:0;
}
.firstP span{
    font-size:18pt;
}
.Grid{
    width:100%;
     margin-top:70px;
     color:#f0fbf9;
     text-align: center;
}
.teamgrid{
    color:#3c4761;
}
.Row{
  width:100%;
}
.gridcol{
    width:25%;
    float: left;
}
.gridcolimg{
    width:100%
}

.lowersec p{
    font-size:16pt;
}
.thirdsec{
    background-color:#e7f1f8;
    color:#3c4761;
}
.secgridcol{
    width:25%;
    float: left;
    text-align: center;
    line-height: 2px;
}
.teamgrid img{
    height: 180px;
    width:180px;
    border-radius:50%;
}
.secgridcol .lowersec span{
    color:#5ec5eb;
    font-size:10pt;
    line-height:0.5pt;
}
.socialgrid a{
    background-color:#bdd1df;
    color:white;
    height: 30px;
    width:30px;
    border-radius:50%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}
.fourthsec{
    background-color:#ffdd99;
    color:#393939;
}
.Fourthsecgrid{
    color:black;
}
.FifthFirstrow{
    width:100%;
    height: auto;
    text-align: center;
}
.Fcol{
    width:50%;
    height: auto;
    float:left;
    margin-bottom: 53px;
}
.Fcol span{
    font-size:12;

}
.LoadButton{
    text-align: center;
    margin-top:70px;
}
.LoadButton a{
    background-color:#17c2a4;
    border-bottom-color:#14a58c;
}
.LoadButton a:hover{
    background-color:#14a58c;
}
.fifthSec{
    background-color:#d74680;
    color:white;
}
.Fcol img{
    width:90px;
    height: 90px;
    border-radius: 50%;
    float: left;
    text-align: left;
}
.Fourthsecgrid .Fcol img{
    width:100%;
height:auto;
border-radius:0;
}
.Desc{
    width:calc(100% - 120px);
    text-align: left;
    display:inline-block;
    margin-left:5px;
}
.Desc p{
    font-size:12pt;
    margin:0px;
}
.Desc h3{
    margin-bottom:0;
    margin-top:20px;
}
.Desc span{
    color:#5ec5eb;
    font-size:10pt;
    line-height: .5pt;
    text-align: center;
}
.container{
    text-align: center;
    width:1100px;
    height: auto;
    margin:0 auto;
}
.LastSec{
background-color:#3c5498;
}
.Container .firstP span{
    color:#273a71;
}
.formsec{
    margin:70px 250px;
    text-align: center;
    width:860px;
    height: auto;
}
.inputform{
    border:none;
    background-color:#273a71;
    width:410px;
    height:50px;
    border-radius: 3px;
    margin-right:0px;
    margin-left: 17px;  
}
.txt {
    margin-top:30px;
    width:100%;
    height: 200px;
    border-radius: 3px;
}
.Container .firstP span{
    font-size:12pt;
}
.SendMessage{
    text-align: center;
    margin-top:70px;
}

.SendMessage a{
    background-color:#30bae7;
    border-bottom-color:#299ec5;

}
.SendMessage a:hover{
    background-color:#299ec5;
}
.footer{
    text-align: center;
    background-color:#344b8e;
    width:100%;
    height: auto;
    border-top-width:2px;
    border-top-color: gray ;
    border-top-style:dotted;
}
.footer .container{
    padding-top:40px;
    padding-bottom:40px;
    width:1140px;
}
.FooterMenu ul{
    margin:0;
    width:100%;
}
.FooterMenu ul li{
    list-style-type: none;
    display:inline-block;
    padding-right:100px;
}
.FooterMenu ul li a{
    text-decoration:none;
    color:white;
    font-size:16px;
    font-weight: bold;
  
}
.FooterMenu ul li a:hover{
color:#30bae7;
}
.FooterMenu ul li:last-child{
    padding-left:0;
}
.socialgrid a:hover{
    transition-duration: .03s;
}
.socialgrid a.fa:hover{
    background-color: #3B5998;
}
.firsth2{
    margin-top:120px;
    color:#eb7d4b;
}

.socialgrid a.tw:hover{
    background-color:#0084FF;
}
.socialgrid a.li:hover{
    background-color:#0077B5;
}
.socialgrid a.mail:hover{
    background-color:#D44638;
}
.formsec::placeholder {
    color:white;
    padding-left:20px;
    padding-top:10px;
    font-size: 10pt;
    font-weight: lighter;
}
